@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=DM+Serif+Text:ital@0;1&family=Great+Vibes&family=Mynerve&family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=DM+Serif+Text:ital@0;1&family=Great+Vibes&family=Mynerve&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Questrial&display=swap');

html {
  scroll-behavior: smooth;
}
.main{
    background-color: rgb(240, 240, 240);
}
:root {
  font-family: "Poppins", sans-serif;
}

.glass-effect{
  background: rgba(255, 255, 255, 0.33);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.6px);
  -webkit-backdrop-filter: blur(6.6px);}

.glass-effect-nav{
  /* From https://css.glass */
  background: rgba(227, 227, 227, 0.98);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.9px);
  -webkit-backdrop-filter: blur(3.9px);
}
.glass-effect-contact{/* From https://css.glass */
  background: rgba(80, 81, 80, 0.24);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);}

.dm-serif-text-regular {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}

.playwrite-gb-s {
                   font-family: "Playwrite GB S", cursive;
                   font-optical-sizing: auto;
                   font-weight: 400;
                   font-style: normal;
                 }

